<div class="cachesDialog">
  <span class="titlewrap"><h2 class="title title-text">Geocaches</h2></span>
  <button type="button" class="btn close-btn-x" {{on "click" (fn @close true)}}>X</button>
  <div class="caches-body">
    <div class="pane">
      <div class="scroll">

        {{#each this.cacheList as |geocache|}}
          <div class="wrapper">
            <div class="cache">
                <input type="checkbox" id="toggle{{geocache.gccode}}" class="toggle" />
                <label class="title" for="toggle{{geocache.gccode}}">
                  <span class="chest{{if geocache.found "-open"}}"></span>
                  {{#if geocache.found}}<span class="smiley"></span>{{/if}}
                  <div class="gccode">{{geocache.gccode}}</div>
                  <div class="name">{{geocache.name}}</div>
                  <div class="more">More Info</div>
                </label>
                <div class="content">
                    <div class="cacheInfo">
                      <div class="coords">
                        <span class="label">Cache Coordinates:</span>
                        {{#if geocache.found}}
                            <span>{{decrypt this.storage geocache.coords}}</span>
                        {{else}}
                            <span>Unknown</span>
                        {{/if}}
                        <span class="terrainDifficulty"><span>Terrain:</span>{{geocache.terrain}}<span>Difficulty:</span>{{geocache.difficulty}}</span>
                      </div>
                      {{#if geocache.parking}}
                        <div class="coords">
                          <span class="label">Parking:</span>
                          {{#if geocache.found}}
                              <span>{{decrypt this.storage geocache.parking}}</span>
                          {{else}}
                              <span>Unknown</span>
                          {{/if}}
                        </div>
                      {{/if}}
                      <div class="hints">
                        {{#if geocache.puzzleHint}}
                          <div>
                            <span class="label">Puzzle Hint:</span><span>{{geocache.getPuzzleHint}} (<span role="button" class="decrypt" {{on "click" (fn this.togglePuzzleHint geocache)}}>{{if geocache.puzzleHintDecrypted 'Encrypt' 'Decrypt'}}</span>)</span>
                          </div>
                        {{/if}}
                        {{#if geocache.cacheHint}}
                          <div>
                            <span class="label">Cache Hint:</span><span>{{geocache.getCacheHint}} (<span role="button" class="decrypt" {{on "click" (fn this.toggleCacheHint geocache)}}>{{if geocache.cacheHintDecrypted 'Encrypt' 'Decrypt'}}</span>)</span>
                          </div>
                        {{/if}}
                      </div>

                      {{{geocache.description}}}
                    </div>
                </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="footer">
    <button class="btn styled btn-primary" type="button" {{on "click" (fn @close true)}}>Close</button>
  </div>

</div>
