<div class="chestDialog">

  <img class="closedChest" src="/images/closed-treasure-chest.png" />

  <div class="chest-body">
    <h1>You Found a Chest!</h1>
    <div class="congrats">Congratulations, you have discovered a hidden chest.  Take note of the physical GPS coordinates below and search for the real geocache at that location.</div>
    <div class="coords"><span class="label">{{this.cacheData.gccode}} Final:</span>No Spoilers until Publishing!{{!this.decryptedCacheCoords}}</div>
    {{#if this.decryptedParkingCoords}}
      <div class="parking"><span class="label">Parking:</span>{{this.decryptedParkingCoords}}</div>
    {{/if}}
    {{#if this.showBonus}}
      <div class="chestInventory">
        <div class="bonus">The chest also contains:</div>
        {{#if this.cacheData.gold}}
          <div class="gem-wrapper">
            <span class="gem gem-30"></span>
            <span class="gems-count big-font">{{this.cacheData.gold}} Gems</span>
          </div>
        {{/if}}
        <ul>
        {{#each this.chestInventory as |item|}}
          <li class="item-wrapper-two">
            <img src="{{item.img}}" class="item-img-two {{item.cssClazz}}">
            <div class="item-name-two"><strong class="big-font">{{item.name}}</strong></div>
          </li>
        {{/each}}
        </ul>
      </div>
    {{/if}}
  </div>

  <div class="chest-footer">
    <button class="btn styled btn-green" type="button" {{on "click" (fn @close true)}}>Continue</button>
  </div>

</div>
