<div class="configDialog">
  <div class="btn close-btn-x" {{on "click" (fn @close true)}}>X</div>
  <div class="left-nav absolute">
    {{#each this.leftNavItems as |navItem|}}
      <button class="btn{{if (eq this.currentNavCategory.text navItem.text) " active"}}" type="button" {{on "click" (fn this.pickCategory navItem)}}><span class="big-font {{navItem.clazz}}">{{navItem.text}}</span></button>
    {{/each}}
  </div>
  <div class="body">
    <div class="pane {{this.currentNavCategory.clazz}}">
      <div class="scroll">
        {{#if (eq this.currentNavCategory.text "Settings")}}
          <div class="options">
            <div id="volume-group" class="form-group slider-group">
              <span class="glyphicon glyphicon-volume-down"></span>
              <input type="range" min="0" step="10" max="100" value="{{this.volume}}" class="ui-slider" id="myRange" {{on "input" (fn this.setVolume this)}}>
              <span class="glyphicon glyphicon-volume-up"></span>
            </div>
          </div>
        {{/if}}
        {{#if (eq this.currentNavCategory.text "Help")}}
          <Instructions />
        {{/if}}
        {{#if (eq this.currentNavCategory.text "Credits")}}
          Credits
        {{/if}}
      </div>
    </div>
  </div>
  <div class="footer">
    <button class="btn styled btn-primary" type="button" {{on "click" (fn @close true)}}>Close</button>
  </div>
</div>

