<div class="configDialog">
  <div class="btn close-btn-x" {{on "click" (fn @close true)}}>X</div>
  <div class="left-nav absolute">
    {{#each this.leftNavItems as |navItem|}}
      <button class="btn{{if (eq this.currentNavCategory.text navItem.text) " active"}}" type="button" {{on "click" (fn this.pickCategory navItem)}}><span class="big-font {{navItem.clazz}}">{{navItem.text}}</span></button>
    {{/each}}
  </div>
  <div class="body">
    <div class="pane {{this.currentNavCategory.clazz}}">
      <div class="scroll">
        {{#if (eq this.currentNavCategory.text "Settings")}}
          <h3>Options</h3>
          <div class="options">
            <h4>Sound Effects Volume</h4>
            <div id="volume-group" class="form-group slider-group">
              <span class="glyphicon glyphicon-volume-down"></span>
              <input type="range" min="0" step="10" max="100" value="{{this.volume}}" class="ui-slider" id="myRange" {{on "input" (fn this.setVolume this)}}>
              <span class="glyphicon glyphicon-volume-up"></span>
            </div>
            <h4>Background Volume</h4>
            <div id="volume-group" class="form-group slider-group">
              <span class="glyphicon glyphicon-volume-down"></span>
              <input type="range" min="0" step="10" max="100" value="{{this.musicVolume}}" class="ui-slider" id="myRange" {{on "input" (fn this.setMusicVolume this)}}>
              <span class="glyphicon glyphicon-volume-up"></span>
            </div>
          </div>
        {{/if}}
        {{#if (eq this.currentNavCategory.text "Help")}}
          <Instructions />
        {{/if}}
        {{#if (eq this.currentNavCategory.text "Self Help")}}
          <div class="selfhelp-wrapper">
            <h3>Self Help</h3>
            <p>
              Is your Avatar stuck and can't move?  You can try to "Go Back" one move by clicking the button below.
            </p>
            <p>
              <button class="btn styled btn-primary" type="button" {{on "click" (fn this.goback)}}>Go Back</button>
            </p>
            <p>
              If that doesn't work and you are still stuck, send an email to 'emberquestgeocache@gmail.com' along with a screenshot of where you are stuck.  I'll send you a "Fix" command.  Paste that command below and click the 'Fix It' button.
            </p>
            <p>
              <Textarea @value={{fixCommand}} />
            </p>
            <p>
              <button class="btn styled btn-primary" type="button" {{on "click" (fn this.runfix)}}>Fix It</button>
            </p>
          </div>
        {{/if}}
        {{#if (eq this.currentNavCategory.text "FAQ")}}
          <h3>Frequently Asked Questions</h3>
          <div class="faqlist">
          {{#each this.faqList as |faq|}}
            <div class="wrapper">
              <div class="faq">
                <input type="checkbox" id="togglefaq{{faq.id}}" class="toggle" />
                <label class="title" for="togglefaq{{faq.id}}">
                  <div class="name">{{faq.title}}</div>
                  <div class="more">More Info</div>
                </label>
                <div class="content">
                  <div class="faqAnswer">
                    {{{faq.content}}}
                  </div>
                </div>
              </div>
            </div>
          {{/each}}
          </div>
        {{/if}}
        {{#if (eq this.currentNavCategory.text "Credits")}}
          <h3>Credits</h3>
          <div class="credits">
            <span class="title">Author:</span><span>GeoCacher TeamMonroes</span>
          </div>
          <h3>Game Assets</h3>
          <div class="credits">
            <p>All game images and music not created by TeamMonroes are licensed under the MIT License (MIT) or Creative Commons BY-SA 4.0.</p>
            <p>Some of these images are from the open source projects:</p>
          </div>
          <div class="credit-links">
            <div>
              <span class="title">CodeCombat</span><span>The most engaging way to learn computer science.</span>
            </div>
            <div>
              <span class="title">The Battle for Wesnoth</span>
            </div>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="footer">
    <button class="btn styled btn-primary" type="button" {{on "click" (fn @close true)}}>Close</button>
  </div>
</div>

