<div class="editor">
  <div class="editortitle">
    <h1>Editors</h1>
  </div>

  <div class="mapeditor">
    <div class="maptitle">
      <h3>Map</h3>
      <p>
        <div>Map Display Name</div>
        <Input @id="mapdisplayname" size="50" @value={{this.mapDisplayName}} />
      </p>
      <p>
        <div>Map Number</div>
        <Input @id="mapnumber"  @value={{this.mapNumber}} />
        <Input @id="mapimage"  @value={{this.mapImageName}} />
      </p>
    </div>
    <div class="mapcontent">
      <div class="mapnorth">
        Map North<br/>
        <Input @id="mapnorth" size="10" @value={{this.mapNorth}} />
      </div>
      <div class="mapwest">
        Map West<br/>
        <Input @id="mapwest"  size="10" @value={{this.mapWest}} />
      </div>
      <div class="thismap">
        <label for="maparraytextarea">Wesnoth Input:</label>
        <Textarea @id="maparraytextarea" rows=20 cols=50 @value={{this.mapText}} />
      </div>
      <div class="mapeast">
        Map East<br/>
        <Input @id="mapeast"  size="10" @value={{this.mapEast}} />
      </div>
      <div class="mapsouth">
        Map South<br/>
        <Input @id="mapsouth" size="10"  @value={{this.mapSouth}} />
      </div>
    </div>
    <div class="mapfooter">
      <p class="btn-wrapper">
        <button class="btn style btn-primary" {{on "click" this.generateHexes}}>Generate Hex Models</button>
      </p>
      <label for="outputtextarea">EmberQuest Output:</label>
      <p>
        <Textarea @id="outputtextarea" rows=20 cols=75 @value={{this.finalMap}} />
      </p>
    </div>
  </div>


  <div class="saveeditor">
    <h3>Fix Command Obj</h3>
    <button class="btn style btn-primary" {{on "click" this.generateFixEncryption}}>Generate Fix</button>
    <p>
      <Textarea rows=5 cols=90 @id="fixcommand" @value={{{this.fixCommand}}} />
    </p>
    <p>
      <div>'{ "command": "teleport", "map": "m13", "x": 1, "y": 2, "transportId": 0, "tF": 1 (sea) / 2 (land) }'</div>
      <div>'{ "command": "inventory", "id": 2003 }'</div>
    </p>
    <p>
      <Textarea rows=10 cols=30 @id="fixcommandencrypted" />
    </p>

    <h3>Coords Encryption</h3>
    <label for="encryptedCoords">Encrypted</label>
    <p>
      <Textarea @id="encryptedCoords" rows=2 cols=50 @value={{this.encryptedCoords}} />
    </p>
    <label for="decryptedCoords">Decrypted</label>
    <p>
      <Textarea @id="decryptedCoords" rows=2 cols=50 @value={{this.decryptedCoords}} />
    </p>
    <p class="btn-wrapper">
      <button class="btn style btn-primary" {{on "click" this.encryptcoords}}>Encrypt</button>
      <button class="btn style btn-primary" {{on "click" this.decryptcoords}}>Decrypt</button>
    </p>
  </div>


  <div class="footer">
    <div></div>
  </div>
</div>
