<ModalTarget />
<div class="game">
  <div class="game-container">
    <div class="epm-modal-container {{this.emberGameService.epmModalContainerClass}}">
      <EpmModalContainer />
    </div>
    <div class="header">
      <img src="/images/emberquestlogo.png" class="logo" />
      <div class="game-controls">

        <div class="gem-wrapper">
          {{#if this.emberGameService.gameManager.player}}
            <span class="gem gem-30"></span>
            <span class="gems-count">{{this.emberGameService.gameManager.player.gold}} Level {{this.emberGameService.gameManager.player.level}}</span>
          {{/if}}
        </div>
        <button type="button" class="btn inventory" {{on "click" (fn this.showInventory)}} >
          <EmberTooltip tooltipClass="tooltip-controls" >Inventory</EmberTooltip>
        </button>
        <button type="button" class="btn trophy" {{on "click" (fn this.showCaches)}}>
          <EmberTooltip tooltipClass="tooltip-controls" >Geocaches</EmberTooltip>
        </button>
        <button type="button" class="btn instructions" {{on "click" (fn this.showInstructionsDialog)}} >
          <EmberTooltip tooltipClass="tooltip-controls" >Help</EmberTooltip>
        </button>
        <button type="button" class="btn settings" {{on "click" (fn this.showConfigDialog)}} >
          <EmberTooltip tooltipClass="tooltip-controls" >Settings</EmberTooltip>
        </button>

        <button type="button" class="btn empty volume" {{on "click" (fn this.adjustVolume)}} >
          <div class="glyphicon glyphicon-volume-{{this.volumeCSSClass}}"></div>
          <EmberTooltip tooltipClass="tooltip-controls" >Volume</EmberTooltip>
        </button>

      </div>
    </div>

    <EmberPhaser
      class="board"
      @phaserContainer="gameContainer"
      @config={{this.config}}
      @onSetup={{fn this.setup}}
      @onTeardown={{fn this.teardown}}
      @ember={{this.emberGameService}}
    />
  </div>
</div>

{{#if this.emberGameService.showInfoConfirmer}}
  <ToElsewhere
        @named={{"modal"}}
        @send={{hash body=(component "confirmation-dialog"
        header=this.emberGameService.showInfoHeader
        prompt=this.emberGameService.showInfoPrompt

        cancelText=this.emberGameService.showInfoCancel
        confirmationText=this.emberGameService.showInfoConfirm
        onConfirm=(action emberGameService.showInfoConfirmer.confirm)
        onCancel=(action emberGameService.showInfoConfirmer.cancel)
  )
     onOutsideClick=(action (mut emberGameService.showInfoConfirmer) null)
  }}
  />
{{/if}}
