<div class="game">
  <div class="game-container">
    <div class="epm-modal-container {{this.emberGameService.epmModalContainerClass}}">
      <EpmModalContainer />
    </div>
    <div class="header">
      <img src="/images/emberquestlogo.png" class="logo" />

      <div class="game-controls">
        <spans class="gems">{{this.game.playerCoins}}</spans>
        <button type="button" class="btn inventory" {{on "click" (fn this.showInventory)}} >
          <EmberTooltip tooltipClass="tooltip-controls" >Inventory</EmberTooltip>
        </button>
        <button type="button" class="btn trophy" {{on "click" (fn this.saveGame)}}>
          <EmberTooltip tooltipClass="tooltip-controls" >Awards</EmberTooltip>
        </button>
        <button type="button" class="btn gems" {{on "click" (fn this.clickGems)}}>
          <EmberTooltip tooltipClass="tooltip-controls">Gems</EmberTooltip>
        </button>
        <button type="button" class="btn instructions" {{on "click" (fn this.showInstructionsDialog)}} >
          <EmberTooltip tooltipClass="tooltip-controls" >Instructions</EmberTooltip>
        </button>
        <button type="button" class="btn settings" {{on "click" (fn this.showConfigDialog)}} >
          <EmberTooltip tooltipClass="tooltip-controls" >Settings</EmberTooltip>
        </button>
      </div>
    </div>

    <EmberPhaser
      class="board"
      @phaserContainer="gameContainer"
      @config={{this.config}}
      @onSetup={{fn this.setup}}
      @onTeardown={{fn this.teardown}}
      @emberGame={{this.emberGameService}}
    />
  </div>
</div>

