<div class="inventoryDialog">
  <h2 class="title title-text">Inventory</h2>
  <div class="player-gems"><span  class="gems-count big-font">{{this.game.gameManager.player.gold}}</span></div>
  <div class="btn close-btn-x" {{action @close}}>X
    <EmberTooltip tooltipClass="tooltip-dialog">Close</EmberTooltip>
  </div>
  <div class="left-nav absolute">
    {{#each this.leftNavItems as |navItem|}}
      <button class="btn{{if (eq this.currentNavCategory.text navItem.text) " active"}}" type="button" {{on "click" (fn this.pickCategory navItem)}}>{{#if navItem.img}}<img src={{navItem.img}}/>{{/if}}<span class="big-font {{navItem.clazz}}">{{navItem.text}}</span></button>
    {{/each}}
  </div>
  <div class="inventory-list">
    <div class="pane">
      {{#if (eq this.currentNavCategory.category this.constants.INVENTORY.TYPE.STATS)}}
        <div class="doll {{this.equippedItemsCSSWrapper}}">
          <img class="base_torso" src="/images/inventory/doll_f2.png "/>
          <img class="base_hair" src="/images/inventory/hair_f2.png "/>
          <img class="base_head" src="/images/inventory/head_f2.png "/>
          <img class="base_thumb" src="/images/inventory/flesh_thumb_f2.png "/>

          {{#each this.equippedItems as |equippedItem|}}
            {{#if (not-eq equippedItem.bodypart this.constants.INVENTORY.BODYPART.RANGED)}}
              {{#if equippedItem.imgDoll}}
                <img src="{{equippedItem.imgDoll}}" class="doll-image {{equippedItem.cssClazz}}">
              {{else}}
                <img src="{{equippedItem.img}}" class="doll-image {{equippedItem.cssClazz}}">
              {{/if}}
            {{/if}}
          {{/each}}
          {{#each this.itemSlots as |itemSlot|}}
            <div data-slot="{{itemSlot.dataSlot}}" class="item-slot">
              <div class="{{if itemSlot.equipped "equipped" "placeholder"}}">
              {{#if itemSlot.equipped}}
                <img src="{{itemSlot.img}}" class="slot {{itemSlot.cssClazz}}">
              {{/if}}
                <div class="itemdesc {{itemSlot.textSide}}">
                  {{itemSlot.name}}
                  <EmberTooltip @side={{itemSlot.tooltipSide}}>{{itemSlot.text}}</EmberTooltip>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      {{else}}
        <div class="scroll">
        {{#each this.filteredItems as |item|}}
          {{#if item.locked}}
            <div class="item silhouetted">
              <span class="glyphicon glyphicon-lock bolder"></span>
              <span class="glyphicon glyphicon-lock"></span>
              <img class="item-silhouette" src="{{item.img}}">
              <div class="required-level"><div>Level</div><div>{{item.requiredLevel}}</div></div>
              <span class="big-font locked">Locked</span>
            </div>
          {{else}}
            <div id="item{{item.id}}" class="item{{if (eq item.id this.itemSelected.id) " selected"}}" {{on "click" (fn this.selectItem item)}}>
              <div class="item-name"><strong class="big-font">{{item.name}}</strong></div>
              <img class="item-img" src="{{item.img}}">
              <div class="item-buttons">
                {{#if item.owned}}
                  <span class="big-font owned">Owned</span>
                  {{#if item.showEquipButton}}
                    {{#if item.equipped}}
                      <button type="button" class="btn unequip-button big-font" {{on "click" (fn this.unequip item)}}>
                        Unequip
                      </button>
                    {{else}}
                      <button type="button" class="btn equip-button big-font" {{on "click" (fn this.equip item)}}>
                        Equip
                      </button>
                    {{/if}}
                  {{/if}}
                {{else}}
                  {{#if item.price}}
                    <span class="cost"><img src="/images/gem.png"><span class="big-font">{{item.price}}</span></span>
                    <button type="button" class="btn unlock-button big-font{{if item.confirmUnlock " confirm"}}{{if (gt item.price this.game.gameManager.player.gold) " too-expensive"}}" {{on "click" (fn this.unlockItem item)}}>
                      {{item.unlockText}}
                    </button>
                  {{/if}}
                {{/if}}
              </div>
            </div>
          {{/if}}
        {{else}}
          <div class="empty">No items to display</div>
        {{/each}}
      </div>
      {{/if}}
    </div>
  </div>
  <div class="item-details-view">
    {{#if (eq this.currentNavCategory.category this.constants.INVENTORY.TYPE.STATS)}}
      <div class="item-title">
        <h2 class="one-line big-font">{{this.currentNavCategory.text}}</h2>
      </div>
      <div class="stats-container">
        <div class="stats">

          <div class="stat">
            <div class="label">Health:</div>
            <div class="val">{{this.game.gameManager.player.container.agent.maxHealth}}</div>
          </div>

          <div class="stat">
            <div class="label">Max Power:</div>
            <div class="val">{{this.game.gameManager.player.container.agent.maxPower}}</div>
          </div>

          <div class="stat">
            <div class="label">Melee Attack:</div>
            <div class="val">{{this.game.gameManager.player.container.agent.attackDamage}}</div>
          </div>

          <div class="stat">
            <div class="label">Ranged Attack:</div>
            <div class="val">{{this.game.gameManager.player.container.agent.rangedAttackDamage}}</div>
          </div>

          {{!#if this.game.gameManager.player.container.agent.attackSpeedAdj}}
<!--            <div class="stat">-->
<!--              <div class="label">Attack Speed:</div>-->
<!--              <div class="val">{{!this.game.gameManager.player.container.agent.attackSpeedAdjRounded}} x</div>-->
<!--            </div>-->
          {{!/if}}
          {{#if this.game.gameManager.player.container.agent.moveSpeedAdj}}
            <div class="stat">
              <div class="label">Move Speed:</div>
              <div class="val">{{this.game.gameManager.player.container.agent.moveSpeedAdj}} x</div>
            </div>
          {{/if}}
          {{#if this.game.gameManager.player.container.agent.healingSpeedAdj}}
            <div class="stat">
              <div class="label">Healing Speed:</div>
              <div class="val">{{this.game.gameManager.player.container.agent.healingSpeedAdj}} x</div>
            </div>
          {{/if}}
          {{#if this.game.gameManager.player.container.agent.healingPowerAdj}}
            <div class="stat">
              <div class="label">Healing Power:</div>
              <div class="val">{{this.game.gameManager.player.container.agent.healingPowerAdj}} x</div>
            </div>
          {{/if}}
          {{#if this.game.gameManager.player.container.agent.energizeSpeedAdj}}
            <div class="stat">
              <div class="label">Resting Speed:</div>
              <div class="val">{{this.game.gameManager.player.container.agent.energizeSpeedAdj}} x</div>
            </div>
          {{/if}}
          {{#if this.game.gameManager.player.container.agent.energizePowerAdj}}
            <div class="stat">
              <div class="label">Resting Power:</div>
              <div class="val">{{this.game.gameManager.player.container.agent.energizePowerAdj}} x</div>
            </div>
          {{/if}}
          {{#if (or this.fireResistance this.coldResistance)}}
            <div class="resistance">Resistance</div>
            {{#if this.fireResistance}}
              <div class="stat">
                <div class="label">Fire:</div>
                <div class="val">{{this.fireResistance}} %</div>
              </div>
            {{/if}}
            {{#if this.coldResistance}}
              <div class="stat">
                <div class="label">Cold:</div>
                <div class="val">{{this.coldResistance}} %</div>
              </div>
            {{/if}}
          {{/if}}


        </div>

      </div>

    {{/if}}
    {{#if this.itemSelected}}
      <div class="item-title">
        <h2 class="one-line big-font">{{this.itemSelected.name}}</h2>
      </div>
      <div class="item-details-body">
        <div class="pane">
          <div class="scroll">
            <div class="item-content-wrapper">
              <div class="item-container">
                <img src="{{this.itemSelected.img}}" class="item-img {{this.itemSelected.cssClazz}}">
                <img src="{{this.itemSelected.img}}" class="item-shadow {{this.itemSelected.cssClazz}}">
              </div>
              <img src="/images/hr.png" class="hr">
              {{#if this.itemSelected.stats}}
                <div class="stat-wrap">
                  {{#each this.itemSelected.stats as |stat|}}
                    <div class="stat-row big-font short-name">
                      <div class="stat-label">{{stat.getTitle}}</div>
                      <div class="stat">{{stat.getDescription}}</div>
                    </div>
                  {{/each}}
                </div>
                <img src="/images/hr.png" class="hr">
              {{/if}}

              {{#if this.itemSelected.description}}
                <div dir="auto" class="item-description">
                  {{{this.itemSelected.description}}}
                </div>
              {{/if}}

              {{#if this.itemSelected.resistanceItemsToShow}}
                <div class="resistance">
                  <h3 class="big-font">
                    Resistance Granted
                  </h3>
                  {{#each this.itemSelected.resistanceItemsToShow as |resistance|}}
                    <p>
                      <strong>{{resistance.getTitle}}</strong>
                      <span class="spr">:</span>
                      <span>{{resistance.getDescription}}</span>
                    </p>
                  {{/each}}
                </div>
              {{/if}}
            </div>
          </div>
        </div>


      </div>
    {{/if}}
  </div>
    <button type="button" class="btn btn-blue big-font close-btn-big" {{on "click" @close}}>
      Close Inventory
    </button>

</div>
{{#if this.swapEquipmentConfirmer}}
  <ToElsewhere
      @named={{"modal"}}
      @send={{hash body=(component "confirmation-dialog"
      header="Equipment swap"
      prompt=this.swapEquipmentMessage
      prompt2=this.swapEquipmentMessage2

      cancelText="Cancel"
      confirmationText="OK"
      onConfirm=(action swapEquipmentConfirmer.confirm)
      onCancel=(action swapEquipmentConfirmer.cancel)
  )
     onOutsideClick=(action (mut swapEquipmentConfirmer) null)
  }}
  />
{{/if}}
