<div class="inventoryDialog">
  <h2 class="title title-text">Inventory</h2>
  <div class="player-gems"><span  class="gems-count big-font">{{this.game.gameManager.player.gold}}</span></div>
  <div class="btn close-btn-x" {{action @close}}>X
    <EmberTooltip tooltipClass="tooltip-dialog">Close</EmberTooltip>
  </div>
  <div class="left-nav absolute">
    {{#each this.leftNavItems as |navItem|}}
      <button class="btn{{if (eq this.currentNavCategory.text navItem.text) " active"}}" type="button" {{on "click" (fn this.pickCategory navItem)}}><img src={{navItem.img}}/><span class="big-font">{{navItem.text}}</span></button>
    {{/each}}
  </div>
  <div class="inventory-list">
    <div class="pane">
      <div class="scroll">
        {{#each this.filteredItems as |item|}}
          {{#if item.locked}}
            <div class="item silhouetted">
              <span class="glyphicon glyphicon-lock bolder"></span>
              <span class="glyphicon glyphicon-lock"></span>
              <img class="item-silhouette" src="{{item.img}}">
              <span class="big-font locked">Locked</span>
            </div>
          {{else}}
            <div id="item{{item.id}}" class="item{{if (eq item.id this.itemSelected.id) " selected"}}" {{on "click" (fn this.selectItem item)}}>
              <strong class="big-font">{{item.name}}</strong>
              <img class="item-img" src="{{item.img}}">
              {{#if item.owned}}
                <span class="big-font owned">Owned</span>
                {{#if item.equipped}}
                  <button class="btn unequip-button big-font" {{on "click" (fn this.unequip item)}}>
                    <span>Unequip</span>
                  </button>
                {{else}}
                  <button class="btn equip-button big-font" {{on "click" (fn this.equip item)}}>
                    <span>Equip</span>
                  </button>
                {{/if}}
              {{else}}
                <span class="cost"><img src="/images/gem.png"><span class="big-font">{{item.price}}</span></span>
                <button class="btn unlock-button big-font{{if item.confirmUnlock " confirm"}}{{if (gt item.price this.game.gameManager.player.gold) " too-expensive"}}" {{on "click" (fn this.unlockItem item)}}>
                  <span>{{item.unlockText}}</span>
                </button>
              {{/if}}
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
  <div class="item-details-view">
    {{#if this.itemSelected}}
      <div class="item-title">
        <h2 class="one-line big-font">{{this.itemSelected.name}}</h2>
      </div>
      <div class="item-details-body">
        <div class="pane">
          <div class="scroll">
            <div class="item-content-wrapper">
              <div class="item-container">
                <img src="{{this.itemSelected.img}}" draggable="false" class="item-img">
                <img src="{{this.itemSelected.img}}" draggable="false" class="item-shadow">
              </div>
              <img src="/images/hr.png" class="hr">
              {{#each this.itemSelected.stats as |stat|}}
                <div class="stat-row big-font short-name">
                  <div class="stat-label">{{stat.getTitle}}</div>
                  <div class="stat">{{stat.getDescription}}</div>
                </div>
                <img src="/images/hr.png" class="hr">
              {{/each}}

              {{#if this.itemSelected.description}}
                <div dir="auto" class="item-description">
                  {{{this.itemSelected.description}}}
                </div>
              {{/if}}


              {{#if (gte this.itemSelected.resistance.length 0)}}
                <div class="resistance">
                  <h3 class="big-font">
                    Resistance Granted
                  </h3>
                  {{#each this.itemSelected.resistance as |resistance|}}
                    <p>
                      <strong>{{resistance.getTitle}}</strong>
                      <span class="spr">:</span>
                      <span>{{resistance.getDescription}}</span>
                    </p>
                  {{/each}}
                </div>
              {{/if}}
            </div>
          </div>
        </div>

        <button type="button" class="btn btn-blue big-font close-btn-big" {{on "click" @close}}>
          Close Inventory
        </button>

      </div>
    {{/if}}
  </div>
</div>
{{#if this.swapEquipmentConfirmer}}
  <ToElsewhere
      @named={{"modal"}}
      @send={{hash body=(component "confirmation-dialog"
      header="Equipment swap"
      prompt=this.swapEquipmentMessage
      prompt2=this.swapEquipmentMessage2

      cancelText="Cancel"
      confirmationText="OK"
      onConfirm=(action swapEquipmentConfirmer.confirm)
      onCancel=(action swapEquipmentConfirmer.cancel)
  )
     onOutsideClick=(action (mut swapEquipmentConfirmer) null)
  }}
  />
{{/if}}
