<div class="victoryDialog">
  <div class="background_wrapper">
    <div class="btn close-btn-x" {{on "click" (fn @close true)}}>X</div>

    <div class="modal-content">
    <div class="modal-header">
      <div id="victory-header" class="">
        <div id="victory-title"><img src="/images/victory/victory_word.png" draggable="false"></div>
      </div>
    </div>
    <div class="modal-body">

      <div id="victory-text" class="nodisplay">&nbsp;</div>
      <div class="level-feedback">&nbsp;</div>

      <div data-animate="" class="achievement-panel earned">
        <div class="achievement-rewards">
          <div class="reward-panel numerical xp">
            <div class="reward-image-container show{{if this.countXP.isRunning " pulse"}}"><img src="/images/victory/reward_icon_xp.png" class=""></div>
            <div class="reward-text">+{{this.xpGainedCounter}}</div>
          </div>
          <div class="reward-panel numerical gems pulse">
            <div class="reward-image-container show{{if this.countGems.isRunning " pulse"}}"><img src="/images/victory/reward_icon_gems.png" class=""></div>
            <div class="reward-text">+{{this.gemsGainedCounter}}</div>
          </div>
        </div>
      </div>

    </div>



    <div class="modal-footer">
      <div id="totals">
        <div id="xp-wrapper" class="total-wrapper">
          <div id="xp-total" class="total-count">{{this.xpGainedCounter}}</div>
          <div class="total-label rtl-allowed"><span class="spr">XP Gained</span> - <span class="spl spr">Level </span> <span class="level"> {{this.params.player.level}}</span></div>
          <div class="xp-bar-outer">
            <div class="xp-bar-total" style="width: {{this.xpTotal}}%;"></div>
          </div>
        </div>
        <div id="gem-wrapper" class="total-wrapper">
          <div id="gem-total" class="total-count">{{this.gemsGainedCounter}}</div>
          <div class="total-label">Gems Gained</div>
        </div>
      </div>
      <div class="next-level-buttons">
        <button class="btn styled btn-green" type="button" {{on "click" (fn @close true)}}>Continue</button>
      </div>
    </div>
  </div>
  </div>
</div>
